{# Previously, I was just setting src=src, and passing, e.g. src="./picture.jpg". That creates a relative link to
`picture.jpg`--relative to the current page. That works as intended when viewing from simpsonian.ca, but will _not_ work
in an RSS reader--the link relative to the RSS reader's address (presumably) won't resolve, and simply 404 instead. For
some reason, using the inline markdown syntax for embedding an image has always produced an absolute (or otherwise
working?) link, so older posts aren't affected. To fix this, we instead ask Zola for the canonical URL of the image.

...or so I thought. The last comment on issue 1161 (https://github.com/getzola/zola/issues/1161) implies that the result
of get_image_metadata _should_ have a url attribute we can use, but that doesn't actually seem to be the case. Instead,
for now we'll just manually stitch it together. #}

{# TODO: revisit all of this; investigate resizing images and setting `height`/`width` properties.

Links:
    - https://www.getzola.org/documentation/content/image-processing/#image-processing-and-return-value
    - https://www.getzola.org/documentation/templates/overview/#get-image-metadata
#}

<figure>
    <img src="{{ page.path ~ src | safe }}"
         alt="{{ alt | safe }}"
         class="centre">
    {% if caption %}<figcaption>{{ caption | markdown | safe }}</figcaption>{% endif %}
</figure>
