<section class="project">
{% if link %}<a href="{{ link | safe }}" target="_blank">{% endif %}
<h2>{{ title }}</h2>
{% if link %}</a>{% endif %}
{% if source_url %}[<a href="{{ source_url | safe }}" target="_blank">source</a>]{% endif %}
{% if status %}<span>[status: {{ status }}]</span>{% endif %}

<p>{{ body | markdown(inline=true) | safe }}</p>
</section>
