/* This is the official red per the Government of Canada Federal Identity Program as of 2022-10-07.
 * (Reference:
 * https://web.archive.org/web/20221008010241/https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/design-standard/colour-design-standard-fip.html)
 * Note: in a previous standard, the blessed red was just good ol' #FF0000, which blows my mind.
 * (Reference: https://web.archive.org/web/20120728214522/http://www.ic.gc.ca/eic/site/pt-te.nsf/eng/00132.html)
 * God, I love pedantry. */
.canada {
    color: #EB2D37;
}

/* Rounded bubble used for callouts */
.bubble {
    background: var(--background);
    border-radius: 15px;
    padding: 1em;
    text-align: center;
}

/* Styling for section pages, which typically just link to contents for that section (e.g., see
 * templates/generic_section.html) */
.content-listing {
    list-style: none;
    padding-left: 0;
}

/* Styling for the navbar: put bullets between items */
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb::after {
    display: inline-block;
    content: "\2022"; /* round bullet */
    padding-left: 3px;
}

.crumb:last-child::after {
    content: none;
}

/* Styling for basic information about a game */
header.game > h1 {
    margin-bottom: 0;
}

header.game > p {
    margin-top: 0;
    color: var(--text-muted);
}

/* With current styling, <h2> doesn't look like a link--add an arrow */
.project h2::after {
    /* rightwards arrow with hook PLUS text presentation sequence
     * (aka, "don't make this look like an emoji on phones) */
    content: "\21AA\FE0E";
    color: var(--links);
    margin-left: 5px;
}

/* Styling to make <aside> elements appear as sidebars */
aside {
    width: 20em;
    max-width: 100%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px var(--focus);
    font-style: italic;
    color: var(--text-muted);
}

aside > p {
    margin: .5rem;
}

/* Our asides are already italic, so emphasis should *not* be italicized. (...and let's ignore the
 * possibility of further nesting.) */
aside > em {
    font-style: normal;
}

/* Styling for figure captions */
figcaption {
    color: var(--text-muted);
    text-align: center;
    font-style: italic;
}

img.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Without this, there's no visual indication that the <code> tag is a link */
a > code {
    text-decoration: underline dotted;
}

/* Footnote contents are placed in a div, which I think (?) causes them to bunch up */
.footnote-definition {
    margin-bottom: 1em;
}

/* Footnotes begin with their number; keep the text on that same line */
.footnote-definition > p {
    display: inline;
}

/* TODO: set up automatic ToC support. Not as easy as you'd think; see the following:
    - https://github.com/getzola/zola/issues/584
    - https://zola.discourse.group/t/choose-table-of-content-position/506/6
*/
/* Gratefully adapted from https://zola.discourse.group/t/choose-table-of-content-position/506/7 */
.table-of-contents {
    display: inline-block;
    border-left: 5px solid var(--links);
    background-color: var(--background);
    padding-right: 1em;
}

@font-face {
  font-family: "Bravura";
  /*src: url("https://github.com/steinbergmedia/bravura/raw/refs/heads/master/redist/woff/BravuraText.woff2");*/
  src: url("/Bravura.woff2");
}


.time-signature {
    display: inline-block;
    font-family: serif;
    font-size: 80%;
}

.time-signature sup,
.time-signature sub {
    display: block;
}
