<!DOCTYPE html>
<html lang="en-CA">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Simpsonian</title>
  <link rel="stylesheet" href="/water.css">
  <link rel="stylesheet" href="/custom.css">
  {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  {% endblock %}
  <script defer data-domain="simpsonian.ca" src="https://treebeard.tailaf9b3.ts.net:8443/js/script.js"></script>
</head>

<body>
  <header>
    <h1 class="title">
      <!-- Span contents: maple leaf, text variation selector -->
      Simpsonian <span class="canada">&#x1F341;&#xFE0E;</span>
    </h1>
  </header>
  <nav class="crumbs">
    <ol>
      <li class="crumb"><a href="{{ get_url(path="@/blog/_index.md") }}">Home</a></li>
      <li class="crumb"><a href="{{ get_url(path="@/projects.md") }}">Projects</a></li>
      <li class="crumb"><a href="{{ get_url(path="@/jokes.md") }}">Jokes</a></li>
      <li class="crumb"><a href="{{ get_url(path="@/games/_index.md") }}">Games</a></li>
      <li class="crumb"><a type="application/atom+xml" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">RSS</a></li>
      <li class="crumb"><a href="{{ get_url(path="@/about-me.md") }}">About me</a></li>
    </ol>
  </nav>
  <main>
      {% block content %} {% endblock %}
  </main>
</body>

</html>
