{% extends "base.html" %}

{% block content %}
<article>
<header>
<h1>{{ page.title | safe }}</h1>
<time datetime="{{ page.date }}"><strong>{{ page.date }}</strong></time>
</header>
{{ page.content | safe }}
</article>
{% endblock content %}
