{% extends "base.html" %}

{% block content %}
<article>
<header class="game">
<h1>{{ page.title | safe }}</h1>
{# TODO: use Zola taxonomies instead? #}
<p>
Players: {{ page.extra.num_players }} &bull;
Time: {{ page.extra.playing_time }} &bull;
Complexity: {{ page.extra.complexity }}
</p>
</header>

{{ page.content | safe }}
</article>
{% endblock content %}
