{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>
{% if section.description %}
<p>{{ section.description | safe }}</p>
{% endif %}
<ol class="content-listing">
  {% for page in section.pages %}
  <li>
    <h2><a href="{{ page.permalink | safe }}">{{ page.title | safe }}</a></h2>
    {{ page.summary | safe }}
  </li>
  {% endfor %}
</ol>
{% endblock content %}
